<% include ../partials/headermodel.ejs %>

<html>
    <head>
        <!--<script src="public/leap-0.6.4.min.js"></script>-->
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <style>
			body {
				color: #000;
				font-family:Monospace;
				font-size:13px;
				text-align:center;

				background-color: #fff;
				margin: 0px;
				overflow: hidden;
			}

			#info {
				position: absolute;
				top: 0px; width: 100%;
				padding: 5px;
			}

			a {
				color: #0080ff;
			}
        </style>
        <style>
            .vignette {
                      position: fixed;
                      top: 0;
                      left: 32.5%;
                      width: 35%;
                      height: 50%;
                      box-shadow: 0 0 200px rgba(0,0,0,1) inset;
                    
                    }
            .vignette2 {
                      position: fixed;
                      top: 50%;
                      left: 0%;
                      width: 32.5%;
                      height: 50%;
                      box-shadow: 0 0 200px rgba(0,0,0,1) inset;
                    
                    }
            .vignette3 {
                      position: fixed;
                      top: 50%;
                      left: 67.5%;
                      width: 32.5%;
                      height: 50%;
                      box-shadow: 0 0 200px rgba(0,0,0,1) inset;
                    
                    }
        </style>
    </head>
    <body>
        <div class="vignette3"></div>
        <div class="vignette3"></div>
        <div class="vignette3">
          <img id = "left" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" style="border-radius:50%; width:25%; height:auto; margin: 25% auto; display: block; transform: rotate(90deg); opacity: 0.8;">
        </div>
        <div class="vignette2"></div>
        <div class="vignette2"></div>
        <div class="vignette2">
          <img id = "top" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" style="border-radius:50%; width:25%; height:auto; margin: 25% auto; display: block; transform: rotate(-90deg); opacity: 0.8;">
        </div>
        <div class="vignette"></div>
        <div class="vignette"></div>
        <div class="vignette">
          <img id = "right" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" style="border-radius:50%; width:25%; height:auto; margin: 25% auto; display: block; opacity: 0.8;">
        </div>
        <div id="container">
        </div>
        <script>
            var scene, cameraController, renderer, clusterLoop, windowWidth, windowHeight;
            var currentFocus = null, nodeSelected = false, detailDisplay = null;
            var cameraMoving = false, cameraControlTarget = new THREE.Vector3(0,0,0);
            var cameraScaling = false, cameraScaleTarget = 1;
            var nodePolygons = 64;
            var nodeScale = 0.25;
            var camSpeed = 10;
            var sceneRadius = 500;
            var updateDelay = 1000;
            
            var views = [
                    {
                        left: 0,
                        top: 0.5,
                        width: 0.325,
                        height: 0.5,
                        background: new THREE.Color(1, 0, 0),
                        eye: [1900, 0, 0],
                        up: [0, 1, 0],
                        rotation: [90, 0, 0],
                        fov: 45
                    },
                    {
                        left: 0.325,
                        top: 0,
                        width: 0.35,
                        height: 0.5,
                        background: new THREE.Color(1, 0, 0),
                        eye: [0, 1800, 0],
                        up: [0, 0, 1],
                        rotation: [0, 0, 0],
                        fov: 45
                    },
                    {
                        left: 0.675,
                        top: 0.5,
                        width: 0.35,
                        height: 0.5,
                        background: new THREE.Color(1, 0, 0),
                        eye: [-1900, 0, 0],
                        up: [0, 1, 0],
                        rotation: [-90, 0, 0],
                        fov: 45
                    }
                ];
        
            init();
            renderLoop();
            
            function init() {
                // setup threejs scene
            	var container = document.getElementById('container');
            	
            	// init scene controllers
            	scene = new THREE.Scene();
            	cameraController = new THREE.Object3D();
            	scene.add(cameraController);
            	
            	// init cameras
            	for (var i = 0; i < views.length; i++) {
            		var view = views[i];
            		var camera = new THREE.PerspectiveCamera(view.fov, window.innerWidth/window.innerHeight, 1, 10000);	
            		camera.position.fromArray(view.eye);	
            		camera.up.fromArray(view.up);	
            		camera.rotation.fromArray(view.rotation);	
            		view.camera = camera;
            		cameraController.add(camera);
            		cameraControlTarget = cameraController.position;
            		camera.lookAt(cameraController.position);
            	}
            
            	// setup renderer
            	renderer = new THREE.WebGLRenderer({ antialias: true });
            	renderer.setPixelRatio(window.devicePixelRatio);
            	renderer.setSize(window.innerWidth, window.innerHeight);
            	container.appendChild(renderer.domElement);
            	
            	clusterLoop = new ClusterLoop();
            	clusterLoop.validateCenter();
            	currentFocus = clusterLoop;
            	cameraControlTarget = currentFocus;
            	
            	document.addEventListener( 'mousedown', onDocumentMouseDown );
            	document.addEventListener( 'keydown', onGetKeyDown );
            	updateScene(initialDataGrab());
            }
            
            function initialDataGrab() {
				var ids = [];
                //var vectors = [];
                var text = [];
                var x = [];
                var y = [];
                var z = [];
                
                <% for (var i = 0; i < locationArray.length; i++) { %>
                    ids.push(<%=locationArray[i].id%>);
                    //vectors.push(new THREE.Vector3(<%=locationArray[i].data.longitude%>, <%=locationArray[i].data.latitude%>, <%=locationArray[i].data.altitude%>));
                    text.push( String('<%=locationArray[i].data.address%>'));
                    x.push(<%=locationArray[i].data.longitude%>);
                    y.push(<%=locationArray[i].data.latitude%>);
                    z.push(<%=locationArray[i].data.altitude%>);
                <%}%>
                return {ids: ids, statuses: text, x: x, y: y, z: z};
            }
            
            function dataGrab(locationArray) {
				var ids = [];
                //var vectors = [];
                var text = [];
                var x = [];
                var y = [];
                var z = [];
                
                <% for (var i = 0; i < locationArray.length; i++) { %>
                    ids.push(<%=locationArray[i].id%>);
                    //vectors.push(new THREE.Vector3(<%=locationArray[i].data.longitude%>, <%=locationArray[i].data.latitude%>, <%=locationArray[i].data.altitude%>));
                    text.push( String('<%=locationArray[i].data.address%>'));
                    x.push(<%=locationArray[i].data.longitude%>);
                    y.push(<%=locationArray[i].data.latitude%>);
                    z.push(<%=locationArray[i].data.altitude%>);
                <%}%>
                return {ids: ids, statuses: text, x: x, y: y, z: z};
            }    
            
            function updateNode(node, newVectors, newStatus, index) {
                //console.log("Comparison: ", node.position, newPos);
                var temp = new THREE.Vector3(newVectors.X[index], newVectors.Y[index], newVectors.Z[index]);
                if (vectorsAreDifferent(node.position, temp)) {
                    console.log("Node position changed");
                    node.moving = true;
                    node.translateTarget = temp;
                    //node.position.set(temp.x, temp.y, temp.z);
                    // console.log("newPos: ", node.position.x, node.position.y, node.position.z);
                    // console.log("DistanceTo: ", node.translateDist);
                }
                node.text = newStatus;
            }
            
            function updateScene(streamData) {
                console.log(streamData);
                var convertedPositions = normalizeCoordPack(streamData.x, streamData.y, streamData.z);
                console.log(convertedPositions);
                for (var i = 0; i < streamData['ids'].length; i++) {
                    if (!(streamData['ids'][i] in clusterLoop.hashTable)) {
                        console.log("Done");
                        clusterLoop.newNode(streamData, i);
                    } else {
                        //console.log("Conversions", convertedPositions[i], streamData['ids'][i], streamData['vectors'][i]);
                        updateNode(clusterLoop.hashTable[streamData['ids'][i]], convertedPositions, streamData.statuses[i], i);
                    }
                }
            }
            
			function updateSize() {
				if ( windowWidth != window.innerWidth || windowHeight != window.innerHeight ) {
					windowWidth  = window.innerWidth;
					windowHeight = window.innerHeight;
					renderer.setSize ( windowWidth, windowHeight );
				}
			}

            
            function renderLoop() {
                render();
                requestAnimationFrame(renderLoop);
            }
            function render() {
                updateSize();
                transformCameraLoop();
                transformNodes();
                for (var i = 0; i < views.length; i++) {
                    var view = views[i];
                    var camera = view.camera;
					var left   = Math.floor( windowWidth  * view.left );
					var top    = Math.floor( windowHeight * view.top );
					var width  = Math.floor( windowWidth  * view.width );
					var height = Math.floor( windowHeight * view.height );

					renderer.setViewport( left, top, width, height );
					renderer.setScissor( left, top, width, height );
					renderer.setScissorTest( true );
					renderer.setClearColor( view.background );

					camera.aspect = width / height;
					camera.updateProjectionMatrix();
					
					//camera.lookAt(cameraController.position);
					
                    renderer.render(scene, camera);
                }
            }
            
                setInterval(function() {
                    $.ajax({
                        url: "/locationdata",
                        type: 'GET',
                        success: function(resData) {
                            var ids = [];
                            var text = [];
                            var x = [];
                            var y = [];
                            var z = [];
                            
                            for (var i = 0; i < resData.length; i++) {
                                ids.push(resData[i].id);
                                text.push( String(resData[i].data.address));
                                x.push(resData[i].data.longitude);
                                y.push(resData[i].data.latitude);
                                z.push(resData[i].data.altitude);
                            }
                            var streamData = {ids: ids, statuses: text, x: x, y: y, z: z};
                            updateScene(streamData);
                        }
                    });
                }, 5000);
        </script>
    </body>
</html>